<section data-component="customer-reset-password" data-component-type="section" {% if tag != blank %}data-component-tag="{{ tag }}" {% endif %}class="customer-reset-password">
  <section-wrapper width="constrained">
    <section-header>
      <h1>{{ 'customer.password_reset.title' | t }}</h1>
      <p>{{ 'customer.password_reset.subtitle' | t: email: email }}</p>
    </section-header>
  </section-wrapper>

  <section-wrapper width="constrained">
    <section-content>
      {% form 'reset_customer_password', class: 'customer-reset-password__form' %}
        {% if form.errors %}
          <div id="activate-account-error" tabindex="-1" autofocus>
            {{ form.errors | default_errors }}
          </div>
        {% endif %}

        {% assign label_text = 'general.customer.password' | t %}
        {% capture field_attributes %}
          autocomplete="new-password"
          {% if form.errors contains 'password' %}
            aria-invalid="true"
          {% endif %}
        {% endcapture %}
        {% comment %}Component input-field:default:1.0.0-pre.10 begin{% endcomment %}
        {% liquid
          assign input_type_2e969aec = input_type
          assign input_type = 'password'
          assign form_namespace_2e969aec = form_namespace
          assign form_namespace = 'customer'
          assign field_name_2e969aec = field_name
          assign field_name = 'password'
          assign attributes_2e969aec = attributes
          assign attributes = field_attributes
        %}
        {% comment %}
          @param form [Required]
            The form that the input lives in.
        
          @param form_namespace [Required]
            The form's namespace that is used in "name" attribute as form_namespace[field_name].
        
          @param field_name [Required]
            The field name for the form. Will be used for the "name" attribute.
        
          @param input_type [Required]
            The type of field that is being rendered. Usually text, password, number, etc.
        
          @param input_id [Optional]
            The type of field that is being rendered. Usually text, password, number, etc.
        
          @param label_text [Required]
            The text for the label to be included.
        
          @param placeholder [Optional]
            The placeholder for the input field.
        
          @param attributes [Optional]
            Additional attributes to append to the input field.
        {% endcomment %}
        
        {% if input_id == blank %}
          {% comment %}UUID input_id begin{% endcomment %}
          {% assign input_id = '7da8d0b6-b994-42a2-b52c-eb5e28ce7a1e' %}
          {% comment %}UUID input_id end{% endcomment %}
        {% endif %}
        
        <div data-component="input-field" data-component-type="component" {% if tag != blank %}data-component-tag="{{ tag }}" {% endif %}class="input-field">
          <label for="{{ input_id }}">{{ label_text }}</label>
          <input
            id="{{ input_id }}"
            type="{{ input_type }}"
            name="{% if form_namespace %}{{ form_namespace }}[{{ field_name }}]{% else %}{{ field_name }}{% endif %}"
            value="{{ form[field_name] }}"
            placeholder="{{ placeholder }}"
            {{ attributes }}
          >
        </div>
        
        {% liquid
          assign input_type = input_type_2e969aec
          assign input_type_2e969aec = nil
          assign form_namespace = form_namespace_2e969aec
          assign form_namespace_2e969aec = nil
          assign field_name = field_name_2e969aec
          assign field_name_2e969aec = nil
          assign attributes = attributes_2e969aec
          assign attributes_2e969aec = nil
        %}
        {% comment %}Component input-field:default:1.0.0-pre.10 end{% endcomment %}

        {% assign label_text = 'general.customer.password_repeat' | t %}
        {% capture field_attributes %}
          autocomplete="new-password"
          {% if form.errors contains 'password' %}
            aria-invalid="true"
          {% endif %}
        {% endcapture %}
        {% comment %}Component input-field:default:1.0.0-pre.10 begin{% endcomment %}
        {% liquid
          assign input_type_46127be7 = input_type
          assign input_type = 'password'
          assign form_namespace_46127be7 = form_namespace
          assign form_namespace = 'customer'
          assign field_name_46127be7 = field_name
          assign field_name = 'password_confirmation'
          assign attributes_46127be7 = attributes
          assign attributes = field_attributes
        %}
        {% comment %}
          @param form [Required]
            The form that the input lives in.
        
          @param form_namespace [Required]
            The form's namespace that is used in "name" attribute as form_namespace[field_name].
        
          @param field_name [Required]
            The field name for the form. Will be used for the "name" attribute.
        
          @param input_type [Required]
            The type of field that is being rendered. Usually text, password, number, etc.
        
          @param input_id [Optional]
            The type of field that is being rendered. Usually text, password, number, etc.
        
          @param label_text [Required]
            The text for the label to be included.
        
          @param placeholder [Optional]
            The placeholder for the input field.
        
          @param attributes [Optional]
            Additional attributes to append to the input field.
        {% endcomment %}
        
        {% if input_id == blank %}
          {% comment %}UUID input_id begin{% endcomment %}
          {% assign input_id = 'ca316965-cf6a-48fd-8c1c-e146d36375d0' %}
          {% comment %}UUID input_id end{% endcomment %}
        {% endif %}
        
        <div data-component="input-field" data-component-type="component" {% if tag != blank %}data-component-tag="{{ tag }}" {% endif %}class="input-field">
          <label for="{{ input_id }}">{{ label_text }}</label>
          <input
            id="{{ input_id }}"
            type="{{ input_type }}"
            name="{% if form_namespace %}{{ form_namespace }}[{{ field_name }}]{% else %}{{ field_name }}{% endif %}"
            value="{{ form[field_name] }}"
            placeholder="{{ placeholder }}"
            {{ attributes }}
          >
        </div>
        
        {% liquid
          assign input_type = input_type_46127be7
          assign input_type_46127be7 = nil
          assign form_namespace = form_namespace_46127be7
          assign form_namespace_46127be7 = nil
          assign field_name = field_name_46127be7
          assign field_name_46127be7 = nil
          assign attributes = attributes_46127be7
          assign attributes_46127be7 = nil
        %}
        {% comment %}Component input-field:default:1.0.0-pre.10 end{% endcomment %}

        <div class="customer-reset-password__actions">
          {% assign button_text = 'customer.password_reset.submit' | t %}
          {% comment %}Component button:default:1.0.0-pre.10 begin{% endcomment %}
          {% liquid
            assign style_ba8874ae = style
            assign style = 'primary'
            assign size_ba8874ae = size
            assign size = 'medium'
            assign text_ba8874ae = text
            assign text = button_text
          %}
          {% comment %}
            @param style [Required]
              This is the style of the button: primary, secondary, tertiary, or text. Default primary.
          
            @param size [Required]
              This defines the size of the button: small, medium, or large. Default medium.
          
            @param text [Required]
              This is the text to be included in the button.
          
            @param attributes [Optional]
              This will include any additional attributes that the button needs. For example, aria-controls.
          {% endcomment %}
          
          <button
            data-component="button"
            data-component-type="component"
            {% if tag != blank %}data-component-tag="{{ tag }}"
            {% endif %}class="button button--{{ style }} button--{{ size }}{% if style == 'primary' or style == 'secondary' %} button--shadow{% endif %%}"
            {{ attributes }}
          >
            {{ text }}
          </button>
          
          {% liquid
            assign style = style_ba8874ae
            assign style_ba8874ae = nil
            assign size = size_ba8874ae
            assign size_ba8874ae = nil
            assign text = text_ba8874ae
            assign text_ba8874ae = nil
          %}
          {% comment %}Component button:default:1.0.0-pre.10 end{% endcomment %}
        </div>
      {% endform %}
    </section-content>
  </section-wrapper>
</section>