<div class='jdgm-widget jdgm-all-reviews-text' data-from-snippet='{% if concierge_install != nil  %}{{ concierge_install }}{% else %}{% endif %}' >
  <a href="#judgeme_product_reviews">
    <span class='jdgm-all-reviews-text__text' data-score="{{ shop.metafields.judgeme.all_reviews_rating }}" data-number-of-reviews="{{ shop.metafields.judgeme.all_reviews_count }}" data-locale="en">
      Customers rate us {{ shop.metafields.judgeme.all_reviews_rating | round: 1 }}/5 based on {{ shop.metafields.judgeme.all_reviews_count }} reviews.
    </span>
    <p> Click to see or leave reviews.</p>
  </a>
</div>

{% schema %}
{
    "name": "Judge.me Banner Link",
    "settings": [

    ],
    "presets": [
        {
            "name": "Judge.me Banner Link"
        }
    ]
}
{% endschema %}